/* Bootstrap Overrides & Custom Styles */

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        margin-bottom: 10px;
    }
}

body {
    background-color: #131313;
    color: white;
    font-family: "Inria Sans", sans-serif;
    font-weight: 500;
}

.navbar {
    background-color: #041620;
}

.hero-section {
    text-align: center;
    padding: 100px 20px;
}

.hero-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.hero-subtitle {
    font-size: 1.5rem;
    color: #20a7d8;
}

.skills-section {
    padding: 50px 20px;
    text-align: center;
}

.skill-item {
    display: inline-block;
    padding: 10px 20px;
    background: #dac8a6;
    border-radius: 10px;
    margin: 10px;
    font-weight: bold;
}

.projects-section {
    padding: 50px 20px;
    text-align: center;
}

.project-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.contact-section {
    padding: 50px 20px;
    text-align: center;
}

.contact-info a {
    color: #20a7d8;
    text-decoration: none;
    font-size: 1.2rem;
}
.text-warning{
    color: #c9bd98;
}
.centerTitre{
    display: flex;
    justify-content: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.card-title{
    display: flex;
    align-items: center;
    gap: 6px;
}

.card{
    min-height: 156px;
}

.link_nav{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    
}

.link_nav a{
    text-decoration: none;
}

.gapping{
    gap: 100px;
}
