html{
    scroll-behavior: smooth;
}
body {
    background-image: url("./images/bg.jpg");
    color: white;
    font-family: "Inria Sans", sans-serif;
    font-weight: 500;
    font-size:larger;
}
:root {
    --black: #131313;
}

* {
    color: inherit;
}

header {
    background-color: #041620;
    position: sticky;
    top:0;
}

header main{
    display: inline-block;
}

header.lien1{
    display: inline-block;
}

header.lien2{
    display: inline-block;
}

.justify-center {
    justify-content: center;
}

.titre {
    text-align: center;
}

.flex {
    display: flex;
}

.aligne-center {
    align-items: center;
}
.presentation {
    max-width: 600px;
}

.flex-wrap {
    flex-wrap: wrap;
}
.gap-comp {
    gap: 15px;
}

.competences div:hover{
    background-color: rgb(18, 102, 158);
    border: solid 12px rgb(4, 22, 32);
    border-radius: 20px;
    font-weight: bold;
}

.flex-direction-colums {
    flex-direction: column;
}

.grid {
    display: grid;
}

.gt-col-2 {
    grid-template-columns: repeat(2,1fr);

}

img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 769px) {
    .gt-col-2 {
        grid-template-columns: repeat(1,1fr);

    }
}

.text-aligne{
    text-align: center;
}

.textPadding{
    padding: 5px;
}

.taches li{
    padding: 3px;
}

.topPadding{
padding-top: 20px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');

p {
  text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
}

.container {
  color: #e5e5e5;
  font-size: 2rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation {
  height:50px;
  overflow:hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height: 2.3rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  background-color:#20a7d8;
}

.second div {
  background-color:#CD921E;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.30rem;}
  30% {margin-top: -5.30rem;}
 
}

@media screen and (max-width: 769px){ 
    @keyframes text-animation {
        0% {margin-top: 0;}
        10% {margin-top: 0;}
        20% {margin-top: -4.2rem;}
        30% {margin-top: -4.2rem;}
        90% {margin-top: 0;}
        100% {margin-top: 0;}
      }

      .second div {
        background-color:#CD921E;
        font-size:medium;
      }
}

.presentations {
    text-align: center; /* Ensures text inside the div is centered */
    max-width: 70%; /* Sets a maximum width for the div */
    margin: 0 auto; /* Centers the div itself within its parent */
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.gap-comp {
    gap: 1rem; /* Ajustez selon vos besoins */
}

